#headerPage {
    padding: 20px;
    position: absolute;
    font-size: larger;
    font-family: cursive;
    background-color: #dddddd;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    top: 8%;
    opacity: 0.8;
}

#page {
    padding: 15px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    position: absolute;
    left: 10%;
    right: 10%;
    font-size: larger;
}

ul {
    position: absolute;
    background-color: gray;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 15px 15px;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Link has a black background */
li a:hover {
    background-color: black;
  }

#links {
    display: flex;
    font-size: large;
    padding: 100px;
}
